* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    background: transparent;
    color: #eeeeee;
}

#window {
    border-bottom: 3px solid transparent;
    margin-left: 5px;
    padding: 0 5px;
    font-weight: 600;
}

#workspaces {
    margin-left: 5px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 2px;
    background: transparent;
    color: #aaaaaa;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    border-bottom: 3px solid #888888;
}

#workspaces button.focused {
    color: #ED8B16;
    border-bottom: 3px solid #ED8B16;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-trackpad, #battery, #cpu, #memory, #network, #pulseaudio, #battery, #backlight, #disk, #clock {
    padding: 0 3px;
    margin: 0 5px;
    border-bottom: 3px solid #669bbc;
}

#clock {
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    margin-left: 5px;
    margin-right: 10px;
}

#battery.charging, #battery.plugged, #battery.full {
    border-bottom-color: #a7c957;
}

#custom-trackpad.good, #cpu.good, #memory.good, #battery.good {
    border-bottom-color: #50C878;
}

#custom-trackpad.critical, #cpu.critical, #memory.critical, #battery.critical, #network.disconnected, #pulseaudio.muted {
    border-bottom-color: #e09f3e;
    background-color: rgb(239, 240, 241);  /* override default */
    color: rgb(246, 116, 0);
}

#custom-trackpad.warning, #cpu.warning, #memory.warning, #battery.warning {
    border-bottom-color: #d90429;
    background-color: transparent;  /* override default */
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio.muted {
}

#tray {
}

