input {
    keyboard {
        xkb {
            layout "us"
            options "caps:super"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

output "DP-1" {
    mode "3840x2160@60.000"
    scale 1.5
    transform "normal"
    position x=2560 y=0
}

output "DP-2" {
    mode "3840x2160@60.000"
    scale 1.5
    transform "normal"
    position x=0 y=0
}

recent-windows {
    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+Ctrl+Tab       { next-window     filter="app-id"; }
        Alt+Ctrl+Shift+Tab { previous-window filter="app-id"; }
    }
}

layout {
    gaps 8

    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.90
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    
    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
        active-gradient from="#80c8ff" to="#bbddff" angle=45
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-gradient from="#800" to="#a33" angle=45
    }
}

window-rule {
    match at-startup=true app-id=r#"^firefox$"#
    open-on-workspace "1."
    open-maximized-to-edges true
}
window-rule {
    match at-startup=true app-id=r#"^kitty$"#
    open-on-workspace "0."
    open-maximized-to-edges true
}
window-rule {
    match at-startup=true app-id=r#"^thunderbird$"#
    open-on-workspace "3."
}
window-rule {
    match at-startup=true app-id=r#"^obsidian$"#
    open-on-workspace "3."
}
window-rule {
    match at-startup=true app-id=r#"^org.telegram.desktop$"#
    open-on-workspace "F1."
}
window-rule {
    match at-startup=true app-id=r#"^org.nicotine_plus.Nicotine$"#
    open-on-workspace "8."
}

screenshot-path "~/tmp/_screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"

cursor {
    xcursor-theme "Numix-Cursor"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

window-rule {
    match app-id=r#"^firefox$"# title=r#"^Picture-in-Picture$"#
    match app-id=r#"^rdict$"#
    match app-id=r#"^swaync$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org.telegram.desktop$"# title=r#"^メディアビューア$"#
    open-fullscreen false
}

window-rule {
    match at-startup=true app-id=r#"^firefox$"#
    match at-startup=true app-id=r#"^kitty$"#
    match at-startup=true title=r#"^Parsec$"#
    open-maximized-to-edges true
}

workspace "0." {
    open-on-output "DP-1"
}
workspace "1." {
    open-on-output "DP-2"
}
workspace "2." { }
workspace "3." { }
workspace "4." { }

workspace "F1." { }
workspace "F2." { }

workspace "8." { }
workspace "9." { }

binds {
    Mod+grave { focus-workspace "0."; }
    Mod+1 { focus-workspace "1."; }
    Mod+2 { focus-workspace "2."; }
    Mod+3 { focus-workspace "3."; }
    Mod+4 { focus-workspace "4."; }
    Mod+8 { focus-workspace "8."; }
    Mod+9 { focus-workspace "9."; }
    Mod+F1 { focus-workspace "F1."; }
    Mod+F2 { focus-workspace "F2."; }

    Mod+Shift+grave { move-column-to-workspace "0."; }
    Mod+Shift+1 { move-column-to-workspace "1."; }
    Mod+Shift+2 { move-column-to-workspace "2."; }
    Mod+Shift+3 { move-column-to-workspace "3."; }
    Mod+Shift+4 { move-column-to-workspace "4."; }
    Mod+Shift+F1 { move-column-to-workspace "F1."; }
    Mod+Shift+F2 { move-column-to-workspace "F2."; }
    Mod+Shift+8 { move-column-to-workspace "8."; }
    Mod+Shift+9 { move-column-to-workspace "9."; }

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "kitty"; }
    Mod+O { spawn "fuzzel"; }
    Mod+N { spawn-sh "swaync-client -t -sw"; }
    Mod+Escape { spawn-sh "swaylock && niri msg action power-on-monitors"; }
    Ctrl+Alt+D { spawn "rdict"; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Escape { spawn-sh "niri msg action power-off-monitors && swaylock && niri msg action power-on-monitors"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+E repeat=false { toggle-overview; }

    Mod+X repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+BracketLeft  { focus-monitor-left; }
    Mod+BracketRight  { focus-monitor-right; }

    Mod+Ctrl+BracketLeft  { move-column-to-monitor-left; }
    Mod+Ctrl+BracketRight  { move-column-to-monitor-right; }
    Mod+Ctrl+Semicolon  { move-column-to-monitor-up; }
    Mod+Ctrl+Apostrophe  { move-column-to-monitor-down; }

    Mod+Shift+BracketLeft  { move-workspace-to-monitor-left; }
    Mod+Shift+BracketRight  { move-workspace-to-monitor-right; }
    Mod+Shift+Semicolon  { move-workspace-to-monitor-up; }
    Mod+Shift+Apostrophe  { move-workspace-to-monitor-down; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+Shift+Comma  { consume-or-expel-window-left; }
    Mod+Shift+Period { consume-or-expel-window-right; }


    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { maximize-window-to-edges; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+F11 { fullscreen-window; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+T       { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    F4 { screenshot; }

    Mod+Ctrl+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollRight      { focus-window-up; }
    Mod+WheelScrollLeft       { focus-window-down; }
}

animations {
    workspace-switch {
        off
    }
}
